body {
    font-family: 'Acme', sans-serif;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.bg-image {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/top-c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 150px;
}

h1 {
    font-weight: 900;
    font-size: 60px;
    color: rgb(145, 255, 0);
}

.top-heading {
    text-align: center;
    color: white;
    padding-bottom: 70px;
}

.top-paragraph {
    padding-bottom: 20px;
}

.link-bottom {
    text-decoration: none;
    background-color: rgb(145, 255, 0);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 900;
    color: white;

}

.part-two {
    text-align: center;
    margin-top: 100px;
}

.heading-two {
    font-size: 45px;
    font-weight: 800;
    color: rgb(145, 255, 0);
}

.doller {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 60px;
    color: gray;
}

.all-doller {
    padding-left: 50px;
    margin-bottom: 50px;
}

.coloring-doller {
    color: rgb(145, 255, 0);
    border: 3px solid;
    padding: 25px 20px;
    border-radius: 5px 20px;
    box-shadow: 5px 5px 10px rgb(145, 255, 0);
}

input {
    padding-left: 575px;
    padding-bottom: 7px;
    border-style: none;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    color: gray;
}


.donate-bottom-link {
    text-decoration: none;
    background-color: rgb(145, 255, 0);
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 900;
    color: white;
    margin-left: 600px;
}

.donate-bottom-two {
    margin-top: 20px;
}

.donate-item-all {
    display: flex;
    margin-top: 100px;
    padding-right: 150px;
    padding-left: 150px;

}

.plan-item {
    margin: 20px;
    box-shadow: 10px 10px 8px gray;
    border: 5px solid rgb(145, 255, 0);
    padding: 15px;
    border-radius: 5px 25px;
}