body {
    font-family: 'Acme', sans-serif;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}