body {
    font-family: 'Acme', sans-serif;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}



.bg-image {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("image/top-c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 150px;
}

h1 {
    font-weight: 900;
    font-size: 60px;
    color: rgb(255, 145, 0);
}

.top-heading {
    text-align: center;
    color: white;
    padding-bottom: 70px;
}

.top-paragraph {
    padding-bottom: 20px;
}

.link-bottom {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 900;
    color: white;

}

.main-three-heading {
    text-align: center;
    margin-top: 100px;
}

.heading-two {
    font-size: 45px;
    font-weight: 800;
    color: orangered;
}

.doller {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 60px;
    color: gray;
}

.all-doller {
    padding-left: 50px;
    margin-bottom: 50px;
}

.coloring-doller {
    color: orangered;
    border: 3px solid;
    padding: 25px 20px;
    border-radius: 5px 20px;
    box-shadow: 5px 5px 10px gray;
}

input {
    padding-left: 15px;
    padding-bottom: 7px;
    margin-left: 563px;
    border-style: none;
    background-color: white;
    font-size: 17px;
    font-weight: bold;
    color: gray;
    outline: none;
}


.donate-bottom-link {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 900;
    color: white;
    margin-left: 600px;
}

.donate-bottom-two {
    margin-top: 20px;
}

.donate-item-all {
    display: flex;
    margin-top: 100px;
    padding-right: 150px;
    padding-left: 150px;


}

.plan-item {
    margin: 20px;
    box-shadow: 10px 10px 8px gray;
    border: 5px solid orangered;
    padding: 15px;
    border-radius: 5px 25px;
}

.their-live-your-donate {
    display: flex;
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.boy-image {
    width: 100%;
    margin-left: 60px;

}

.your-donate-heading {
    font-size: 40px;
    font-weight: 600;
    color: orangered;
}

.boy-image {
    border: 5px solid orangered;
    border-radius: 5px 10px;
}

.contribute {
    text-decoration: none;
    background-color: orangered;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 900;
    color: white;

}

.emile-subscraibe {
    display: flex;
    margin-top: 120px;
    margin-bottom: 200px;
}

.email {
    padding: 8px 16px;
    margin-left: 500px;
    background-color: rgba(128, 128, 128, 0.466);
    outline: none;
    border-style: none;
}

.subscraibe {
    background-color: orangered;
    padding: 5px 10px;
    color: white;
    font-weight: 400;
}

.helping-hand {
    text-align: center;
    background-color: orangered;
    margin: 0;
    padding: 15px;
    font-weight: 500;
    color: white;
}